appnope==0.1.0
backports.functools-lru-cache==1.5
backports.shutil-get-terminal-size==1.0.0
Click==7.0
cycler==0.10.0
decorator==4.4.0
enum34==1.1.6
Flask==0.12
Flask-Cors==3.0.8
funcsigs==1.0.2
gunicorn==19.6.0
ipython==5.1.0
ipython-genutils==0.2.0
itsdangerous==1.1.0
Jinja2==2.10.1
kiwisolver==1.1.0
magenta==0.1.8
MarkupSafe==1.1.1
matplotlib==2.2.4
mido==1.2.9
mock==3.0.5
numpy==1.16.5
pathlib2==2.3.4
pexpect==4.7.0
pickleshare==0.7.5
Pillow==6.1.0
pretty-midi==0.2.8
prompt-toolkit==1.0.16
protobuf==3.9.1
ptyprocess==0.6.0
Pygments==2.4.2
pyparsing==2.4.2
python-dateutil==2.8.0
pytz==2019.2
scandir==1.10.0
scipy==1.2.2
simplegeneric==0.8.1
six==1.12.0
subprocess32==3.5.4
tensorflow==1.15.4
traitlets==4.3.2
wcwidth==0.1.7
Werkzeug==0.15.5
